@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
}
.main-foot-section{
    width: 100%;
    bottom: 0;
    left: 0;
    background: #111;
}
.main-foot-section .footer-content{
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.phone a{
    color: #fff;
    text-decoration: none;
}
.email a{
    color: #fff;
    text-decoration: none;
}
.main-foot-section .footer-content p,a{
    color: #fff;
    text-decoration: none;
}
.main-foot-section .footer-content .box{
    width: 33%;
    transition: all 0.4s ease;
}
.main-foot-section .footer-content .topic{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;

}
.main-foot-section .footer-content p{
    text-align: justify;
}
.main-foot-section .footer-content .lower .topic{
    margin: 24px 0 5px 0;
}
.main-foot-section .footer-content .lower i{
    padding-right: 16px;
}
.main-foot-section .footer-content .middle{
    padding-left: 80px;
}
.main-foot-section .footer-content .middle a{
    color: #fff;
    line-height: 32px;
    text-decoration: none;
}
.main-foot-section .footer-content .right input[type="text"]{
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
}
.main-foot-section .footer-content .right input[type="submit"]{
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: #d9d9d9;
    background: #eb2f06;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #eb2f06;
    transition: all 0.3s ease-in-out;
}
.footer-content .right input[type="submit"]:hover{
    background: none;
    color:  #eb2f06;
}
.main-foot-section .footer-content .media-icons a{
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #222222;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
    text-decoration: none;
}
.footer-content .media-icons a:hover{
    border-color: #eb2f06;
}
.main-foot-section .bottom{
    width: 100%;
    text-align: center;
    color: #d9d9d9;
    padding: 0 40px 5px 0;
}
.main-foot-section .bottom a{
    color: #eb2f06;
    text-decoration: none;
}
.main-foot-section a{
    color: #fff;
    transition: all 0.3s ease;
    text-decoration: none;
}
.main-foot-section a:hover{
    color: #eb2f06;
}
@media (max-width:1100px) {
    .main-foot-section .footer-content .middle{
        padding-left: 50px;
    }
}
@media (max-width:950px){
    .main-foot-section .footer-content .box{
        width: 50%;
    }
    .footer-content .right{
        margin-top: 40px;
    }
}
@media (max-width:560px){
    .main-foot-section{
        position: relative;
    }
    .main-foot-section .footer-content .box{
        width: 100%;
        margin-top: 30px;
    }
    .main-foot-section .footer-content .middle{
        padding-left: 0;
    }
}
