<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Page</title>
    <link rel="stylesheet" href="./css/Landing_page.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/help.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- end Bootstrap -->
</head>

<body style="background-color: rgb(237, 241, 245);">
    <header class="header">
        <div class="container">
            <div class="row v-center">
                <div class="header-item item-left">
                    <div class="logo">
                        <a href="#">BigFarm</a>
                    </div>
                </div>
                <!-- menu start here -->
                <div class="header-item item-center">
                    <div class="menu-overlay">
                    </div>
                    <nav class="menu">
                        <div class="mobile-menu-head">
                            <div class="go-back"><i class="uil uil-angle-left"></i></div>
                            <div class="current-menu-title"></div>
                            <div class="mobile-menu-close">&times;</div>
                        </div>
                        <ul class="menu-main">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Buy <i class="uil uil-angle-down"></i></a>
                                <div class="sub-menu mega-menu mega-menu-column-4">
                                    <div class="list-item">
                                        <h4 class="title">Popular Choices</h4>
                                        <ul>
                                            <li><a href="Landing_page.html">Product List</a></li>
                                            <li><a href="#">Owner Properties</a></li>
                                            <li><a href="#">Verified Properties</a></li>
                                            <li><a href="#">Immedieatly Available</a></li>
                                        </ul>
                                        <!-- <a href="#">
                    <img src="img/p1.jpg" alt="new Product">
                    <h4 class="title">Product 1</h4>
                    </a> -->
                                    </div>
                                    <div class="list-item">
                                        <h4 class="title">Property Type</h4>
                                        <ul>
                                            <li><a href="Landing_page.html">Product List</a></li>
                                            <li><a href="#">Flat for rent</a></li>
                                            <li><a href="#">Villa for rent</a></li>
                                            <li><a href="#">Plot for rent</a></li>
                                        </ul>

                                    </div>
                                    <div class="list-item">
                                        <h4 class="title">Budget</h4>
                                        <ul>
                                            <li><a href="#">Under Rs.10,000</a></li>
                                            <li><a href="#">Rs. 10,000-20,000</a></li>
                                            <li><a href="#">Rs.15,000-25,000</a></li>
                                            <li><a href="#">Above 25,000</a></li>
                                        </ul>
                                    </div>
                                    <div class="list-item">
                                        <h4 class="title">Explore</h4>
                                        <ul>
                                            <li><a href="Landing_page.html">Builders In New-Delhi</a></li>
                                            <li><a href="#">Builders In New-Delhi</a></li>
                                            <li><a href="#">Localites In New-Delhi</a></li>
                                            <li><a href="#">Projects In New-Delhi</a></li>
                                            <li><a href="#">Investment Hotspot</a></li>
                                            <li><a href="#">Find An Agent</a></li>
                                        </ul>
                                    </div>
                                    <div class="list-item">
                                        <h4 class="title">Buying Tools</h4>
                                        <ul>
                                            <li><a href="Landing_page.html">Propworth</a></li>
                                            <li><a href="#">Rates&Trends</a></li>
                                            <li><a href="#">Buy vs Rent</a></li>
                                            <li><a href="#">Tips and Guides</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Rent <i class="uil uil-angle-down"></i></a>
                                <div class="sub-menu mega-menu mega-menu-column-4">
                                    <div class="list-item">
                                        <h4 class="title">Popular Choices</h4>
                                        <ul>
                                            <li><a href="Landing_page.html">Product List</a></li>
                                            <li><a href="#">Owner Properties</a></li>
                                            <li><a href="#">Verified Properties</a></li>
                                            <li><a href="#">Immedieatly Available</a></li>
                                        </ul>
                                        <h4 class="title">Property Type</h4>
                                        <ul>
                                            <li><a href="#">Villa for rent</a></li>
                                            <li><a href="#">Flat for rent</a></li>
                                            <li><a href="#">Plot for rent</a></li>
                                        </ul>
                                    </div>
                                    <div class="list-item">
                                        <h4 class="title">Budget</h4>
                                        <ul>
                                            <li><a href="#">Under Rs.10,000</a></li>
                                            <li><a href="#">Rs. 10,000-20,000</a></li>
                                            <li><a href="#">Rs.15,000-25,000</a></li>
                                            <li><a href="#">Above 25,000</a></li>
                                        </ul>
                                    </div>
                                    <div class="list-item">
                                        <img src="img/A1.png" alt="shop">
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Sell <i class="uil uil-angle-down"></i></a>
                                <div class="sub-menu mega-menu mega-menu-column-4">
                                    <div class="list-item">
                                        <h4 class="title">For Owner</h4>
                                        <ul>
                                            <li><a href="Landing_page.html">Post Property</a></li>
                                            <li><a href="#">My Dashboard</a></li>
                                        </ul>
                                        <h4 class="title">For Agent & Builder</h4>
                                        <ul>
                                            <li><a href="#">My Dashboard</a></li>
                                            <li><a href="#">Ad Packages</a></li>
                                            <li><a href="#">iAdvantage</a></li>
                                            <li><a href="#">Developer Lounge</a></li>
                                            <li><a href="#">Sales Enquiry</a></li>
                                        </ul>
                                    </div>
                                    <div class="list-item">
                                        <h4 class="title">Selling Tools</h4>
                                        <ul>
                                            <li><a href="#">Property Valuation</a></li>
                                            <li><a href="#">Find An Agent</a></li>
                                            <li><a href="#">Rates and Trends</a></li>
                                        </ul>
                                    </div>
                                    <div class="list-item">
                                        <img src="img/A1.png" alt="shop">
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Property Services<i class="uil uil-angle-down"></i></a>
                                <div class="sub-menu mega-menu mega-menu-column-4">
                                    <div class="list-item">
                                        <h4 class="title">Rent Services</h4>
                                        <ul>
                                            <li><a href="Landing_page.html">Pay Rent with Credit Card</a></li>
                                            <li><a href="#">Rent Agreement</a></li>
                                            <li><a href="#">Generate Rent Receipt</a></li>
                                            <li><a href="#">Tenant Verification</a></li>
                                            <li><a href="#">Office Leasing Assitance</a></li>
                                        </ul>
                                        <h4 class="title">Buy/Sell Services</h4>
                                        <ul>
                                            <li><a href="#">Property Valuation</a></li>
                                            <li><a href="#">Legal Title Check</a></li>
                                            <li><a href="#">Property Lawyers</a></li>
                                        </ul>
                                    </div>
                                    <div class="list-item">
                                        <img src="img/A1.png" alt="shop">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Help <i class="uil uil-angle-down"></i></a>
                                <div class="sub-menu single-column-menu">
                                    <ul>
                                        <li><a href="#">Help Center</a></li>
                                        <li><a href="#">Sales Enquiry</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- menu end here -->
                <div class="header-item item-right">
                    <button class="main_nav_login_button">Login</button>
                    <!-- <a href="#"><i class="fas fa-heart"></i></a>
          <a href="#"><i class="fas fa-shopping-cart"></i></a> -->
                    <!-- mobile menu trigger -->
                    <div class="mobile-menu-trigger">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-indicator-container">
            <div class="scroll-indicator-bar"></div>
        </div>
    </header>
    <!-- End of Nav Bar -->
    <div class="help_card">
        <div class="card help_main_card">
            <div class="container card-body">
                <div class="row">
                    <div class="col-md-auto mt-1">
                        <h4 class="card-title">Have Questions? We've All the Answers</h4>
                    </div>
                    <div class="col mt-1 edit">
                        I am an
                        <a href="#" style="color: white;">Owner</a>
                        <a href="#"><i class="uil-pen"></i></a>
                    </div>
                </div>
                <div class="help_search_box">
                    <div class="input-group mb-1 ">
                        <input type="text" class="form-control" placeholder="Type Your Question..."
                            aria-label="Type Your Question..." aria-describedby="button-addon2">
                        <button class="btn" type="button" id="button-addon2"><i class="uli uil-search-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container help_topic">
            <div class="row">
                <div class="col col-lg-8 mt-1 help_link">
                    <h1 class="help_h1"><span></span> Explore Help Topics</h1>
                    <div class="row ">
                        <div class="col col-lg-6 mt-1">
                            <h3><i class="uil-user"></i>User Profile</h3>
                            <div>
                                <a href="#">New Registration & Login</a>
                                <a href="#">Account Deactivation/Re-activation</a>
                                <a href="#">My Profile</a>
                                <a href="#">Password Settings</a>
                                <a href="#">Update Email Address</a>
                                <a href="#">Explore More</a>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <h3><i class="uil-building"></i>Property Management</h3>
                            <a href="#">Free Property Listing</a>
                            <a href="#">Posting Property</a>
                            <a href="#">Edit/Update Property Details</a>
                            <a href="#">Locality Update</a>
                            <a href="#">Upload/Edit Photos</a>
                            <a href="#">Explore More</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-6 mt-1">
                            <h3><i class="uil-envelope-check"></i>Response Management</h3>
                            <a href="#">View Responses on Property Posted</a>
                            <a href="#">Download Responses on Property Posted</a>
                            <a href="#">Protection from online frauds</a>
                        </div>
                        <div class="col-md-auto">
                            <h3><i class="uil-truck"></i>Orders & Services</h3>
                            <a href="#">Planning to Buy Ad Packages</a>
                            <a href="#">Package Queries</a>
                            <a href="#">Package Activation</a>
                            <a href="#">My Package Details</a>
                            <a href="#">Package Services</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-6 mt-1">
                            <h3><i class=" uil-sign-alt"></i>MB Features</h3>
                            <a href="#">What is Propworth?</a>
                            <a href="#">All About Property Auctions</a>
                            <a href="#">Forum for All</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto">
                    <h3 class="help_h3"><span></span> Frequently Asked Questions</h3>
                    <div class="g-2">
                        <div class="mb-2 col-12">
                            <div class="p-3 border bg-light">
                                <div class="row">
                                    <div class="col-10">
                                        <h6>How do I deactive my account?</h6>
                                        <label>To de-active your account, follow...</label>
                                    </div>
                                    <div class="col-1">
                                        <i class="uil-angle-right-b"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 col-12">
                            <div class="p-3 border bg-light">
                                <div class="row">
                                    <div class="col-10">
                                        <h6>How can I know the status or val...</h6>
                                        <label>To check status of your package...</label>
                                    </div>
                                    <div class="col-1">
                                        <i class="uil-angle-right-b"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 col-12">
                            <div class="p-3 border bg-light">
                                <div class="row">
                                    <div class="col-10">
                                        <h6>When will my Property become...</h6>
                                        <label>It takes maximum 24hours for a...</label>
                                    </div>
                                    <div class="col-1">
                                        <i class="uil-angle-right-b"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 col-12">
                            <div class="p-3 border bg-light">
                                <div class="row">
                                    <div class="col-10">
                                        <h6>What all can I do with the DivineAI...</h6>
                                        <label>Once free listing is consumed, an...</label>
                                    </div>
                                    <div class="col-1">
                                        <i class="uil-angle-right-b"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 col-12">
                            <div class="p-3 border bg-light">
                                <div class="row">
                                    <div class="col-10">
                                        <h6>How to Renew or Refresh my...</h6>
                                        <label>To refresh your property, you need...</label>
                                    </div>
                                    <div class="col-1">
                                        <i class="uil-angle-right-b"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 col-12">
                            <div class="p-3 border bg-light">
                                <div class="row">
                                    <div class="col-10">
                                        <h6>Why my package is still not activated?</h6>
                                        <label>The reason that your package is still...</label>
                                    </div>
                                    <div class="col-1">
                                        <i class="uil-angle-right-b"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer class="main-foot-section">
        <div class="footer-content">
          <div class="left box">
            <div class="upper">
              <div class="topic">About us</div>
              <p>CodingLab is a channel where you can learn HTML,
              CSS, and also JavaScript along with creative CSS Animations and Effects.</p>
            </div>
            <div class="lower">
              <div class="topic">Contact us</div>
              <div class="phone">
                <a href="#"><i class="fas fa-phone-volume"></i>+007 9089 6767</a>
              </div>
              <div class="email">
                <a href="#"><i class="fas fa-envelope"></i>abc@gmail.com</a>
              </div>
            </div>
          </div>
          <div class="middle box">
            <div class="topic">Our Services</div>
            <div><a href="#">Web Design, Development</a></div>
            <div><a href="#">Web UX Design, Reasearch</a></div>
            <div><a href="#">Web User Interface Design</a></div>
            <div><a href="#">Theme Development, Design</a></div>
            <div><a href="#">Mobile Application Design</a></div>
            <div><a href="#">Wire raming & Prototyping</a></div>
          </div>
          <div class="right box">
            <div class="topic">Subscribe us</div>
            <form action="#">
              <input type="text" placeholder="Enter email address">
              <input type="submit" name="" value="Send">
              <div class="media-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </form>
          </div>
        </div>
        <div class="bottom">
          <p>Copyright © 2020 <a href="#">DivineAi Pvt. Ltd</a> All rights reserved</p>
        </div>
      </footer>
      <script src="js/sroll.js"></script>
      <script src="js/nav.js"></script>    
</body>

</html>